<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript">
        function check() {
            var str = document.getElementById('q');

            if (str.value == '' || str.value == null) {
                alert("검색어를 입력해주세요");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<div class="top">
    <h1><a href="/">HANIUM CCTV</a></h1>
    <span>{{message}}</span>
</div>
<div class="searchForm">
    <form action="search" method="GET" onsubmit="return check();">
        <span>상의색</span>
        <select class="colorName" name="colorUpper">
            <option value="" selected="selected">not select</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select>
        <span>하의색</span>
        <select class="colorName" name="colorLower">
            <option value="" selected="selected">not select</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
        </select>
        <input type="submit" value="검색">
    </form>
</div>
<br>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>id</B></td>
            <td><B>label</B></td>
            <td><B>position</B></td>
            <td><B>width</B></td>
            <td><B>height</B></td>
            <td><B>상의색</B></td>
            <td><B>하의색</B></td>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
        <tr>
            <td>{{person.id}}</td>
            <td>{{person.label}}</td>
            <td>({{person.positionX}}, {{person.positionY}})</td>
            <td>{{person.width}}</td>
            <td>{{person.height}}</td>
            <td>{{person.colorUpper}}</td>
            <td>{{person.colorLower}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
</body>
</html>
