<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script>
        function draw() {
            var table = document.getElementById('myTable');

            if (table.rows.length == 1) {
                document.getElementById('alertText').innerHTML = "검색결과를 찾을 수 없습니다.";
            }

            // Loop through all images
            for (var i = 0; i < table.rows.length; i++){
                // Don't add a canvas for the frame image
                if (document.images[i].getAttribute('id')!='frame'){
                    // Create canvas element
                    canvas = document.createElement('canvas');
                    canvas.setAttribute('width', 150);
                    canvas.setAttribute('height', 150);
                    // Insert before the image
                    document.images[i].parentNode.insertBefore(canvas, document.images[i]);
                    ctx = canvas.getContext('2d');
                    // Draw image to canvas
                    ctx.drawImage(document.images[i], table.rows[i+1].cells[3].innerText, table.rows[i+1].cells[4].innerText, table.rows[i+1].cells[5].innerText, table.rows[i+1].cells[6].innerText, 0, 0, table.rows[i+1].cells[5].innerText, table.rows[i+1].cells[6].innerText);
                    // Add frame
                    ctx.drawImage(document.getElementById('frame'), 0, 0);
                }
            }
        }

        $(document).ready(function(){
            $("#colorUpper").val("{{colorUpper}}").attr("selected", true);
            $("#colorLower").val("{{colorLower}}").attr("selected", true);
        });



    </script>
</head>
<body onload="draw();">
<div class="top">
    <h1><a href="/">HANIUM CCTV</a></h1>
    <div class="searchForm">
        <form action="search" method="GET" onsubmit="return check();">
            <span>상의색</span>
            <select class="colorName" name="colorUpper" id="colorUpper">
                <option value="" selected="selected">not select</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="black">Black</option>
            </select>
            <span>하의색</span>
            <select class="colorName" name="colorLower" id="colorLower">
                <option value="" selected="selected">not select</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="black">Black</option>
            </select>
            <input type="submit" value="검색">
        </form>
    </div>
    <br>
    <span><b><<< 상의는 {{colorUpper}}, 하의는 {{colorLower}}의 검색 결과입니다. >>></b></span>
</div>
<div class="container">
    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <td><B>video</B></td>
            <td><B>id</B></td>
            <td><B>label</B></td>
            <td><B>positionX</B></td>
            <td><B>positionY</B></td>
            <td><B>width</B></td>
            <td><B>height</B></td>
            <td><B>상의색</B></td>
            <td><B>하의색</B></td>
            <td><B>image</B></td>
        </tr>
        </thead>
        <tbody>
        {% for person in people %}
        <tr>
            <td><input type="button" value="click"
                       onclick="window.location.href='http://localhost:8000/cctv?id={{person.id}}&label={{person.label}}'">
            </td>
            <td>{{person.id}}</td>
            <td>{{person.label}}</td>
            <td>{{person.positionX}}</td>
            <td>{{person.positionY}}</td>
            <td>{{person.width}}</td>
            <td>{{person.height}}</td>
            <td>{{person.colorUpper}}</td>
            <td>{{person.colorLower}}</td>
            <td>
                <img style="display:none" id="source"
                     src="https://s3.us-east-2.amazonaws.com/webviedo/{{person.id|slice:':14'}}.jpg" width="150"
                     height="150">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="alertText"></div>
    <img id="frame">
</div>
</body>
</html>
