<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>HTML5 Images to Video Converter | TechSlides</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
</head>
<body>

<span id="status">Select some images.</span><br><br>

<div id="drag">DROP!
    <button id="fbutton">Select Image(s)</button>
    <div id="small">
        <div><label>Width:</label><input id="width" type="number" step="1" value="500"></div>
        <div><label>Height:</label><input id="height" type="number" step="1" value="300"></div>
        <div><label>Video Frame Rate:</label><input id="framerate" type="number" step="1" value="15"></div>
    </div>
    <button id="createvideo">Create Video</button>
</div>
<input type="file" id="filesinput" multiple>

<br>
<video id="awesome" controls autoplay loop></video>
<br>

<a style="display:none" id="download" download="video.webm">Download WebM</a>

<canvas></canvas>

<script>
    var canvas = document.querySelector('Canvas');

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    var ctx = canvas.getContext('2d');

    function drawImagesToCanvas() {
      var imageArray = new Array();
      imageArray[0] = "https://placehold.it/220x150";
      imageArray[1] = "https://placehold.it/220x220";
      imageArray[2] = "https://placehold.it/220x120";
      // ...

      var img = new Image();
      img.onload = function() {
        ctx.drawImage(img, 20, 80, 220, 150);
      };

      img.src = imageArray[0];
    }

    drawImagesToCanvas();
</script>

</body>
</html>
